.navbar {
  position: relative;
  height: 90px;
  background-color: #446598;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: flex-end;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}
  
.leftnav {
  height: 90px;
  display: flex;
  align-items: flex-end;
}

.rightnav {
  height: 90px;
  display: flex;
  align-items: flex-end;
}

.home_link {
  background: none;
  padding: 0.1em;

  color: #FFFFFF;
  
  font-weight: 700;
  font-size: 52px;
}

.home_link:hover {
  text-shadow: 5px 5px 7px #30476b;
}

img {
  width: auto;
  height: 100%;
}
  