body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.width-70 {
  width: 70%;
}
.width-60 {
  width: 60%;
}

.width-50 {
  width: 47.5%;
}

.width-40 {
  width: 35%;
}

.width-30 {
  width: 21%;
}


.row {
  display: flex;
  justify-content: space-between;
}

.centerdiv {
  /* position: absolute; */
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filler {
  height: 82.2vh;
}

