button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-style: bold;
  font-family: 'Roboto', sans-serif;
}

.btn_header {
  background: none;
  padding: 0.4em;
  
  color: #FFFFFF;
  
  font-weight: 700;
  font-size: 24px;
}

.btn_header:hover {
  text-shadow: 5px 5px 5px #30476b;
}

.btn_blue {
  background-color: #446598;
  border-radius: 8px;
  padding: 0.4em;
  
  color: #FFFFFF;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.btn_blue:hover {
  background-color: #5983c4;
}

.btn_yellow {
  background-color: #E49C2F;
  padding: 0.4em;
  color: #FFFFFF;
  font-style: bold;
  font-weight: 700;
  font-size: 28px;
  box-shadow: 3px 3px rgb(184, 184, 184);

}

.btn_yellow_small {
  background-color: #E49C2F;
  padding: 0.3em;
  color: #FFFFFF;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 2px 2px rgb(184, 184, 184);

}

.btn_yellow:hover {
  background-color: rgb(218, 147, 42);
}


.btn_yellow_small:hover {
  background-color: rgb(218, 147, 42);
}


.btn_small {
  background: none;
  color: rgb(165, 165, 165);
  font-size: 18px;
}

.btn_small:hover {
  color: rgb(138, 138, 138);
}

.btn_small_blk {
  background: none;
  font-size: 16px;
}

.btn_small_blk:hover {
  font-weight: 700;
  color: rgb(18, 51, 122);
}


.btn_simple {
  background: none;
  font-weight: 500;
  font-size: 18px;
}

.btn_simple:hover {
  text-decoration: underline;
  color: rgb(18, 51, 122);
}
  
  