.leaderboard_container {
    padding: 2em;
    width: 80%;
    margin: auto;
}

.lb_title {
    color: #446598;

    font-style: bold;
    font-weight: 700;
    font-size: 38px;
  
    padding-bottom: 0.5em;
    padding-right: 1em;
}