.profile_container {
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    margin: auto;
    width: 60%; 
    
  }

.left_profile_container {


}
.right_profile_container {

    
}