.profile_container {
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    margin: auto;
    width: 80%; 

    display: flex;
    justify-content: space-between;
    
  }

.profile_card {
  border-radius: 8px;
  border: 3px solid rgb(207, 207, 207);
  padding: 1em;

}

.profile_card:hover {
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
}

.left_profile_container {
  width: 34%;
    display: flex;
  flex-direction: column;
}

.right_profile_container {
  width: 62%;
  border-radius: 8px;
  border: 3px solid rgb(207, 207, 207);
  padding: 0.5em;
}

.right_profile_container:hover {
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
}


.profile_img {
  border-radius: 100%;
  object-fit: cover;
  width: 10em;
  height: 10em;
  border: 8px solid #89A3CB;
}

.similar_card {
  margin-top: 1em;

  border-radius: 8px;
  border: 3px solid rgb(207, 207, 207);
  padding: 1em;
}

.similar_card:hover {
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
}

.profile_name {
  text-align: center;
  color: #446598;

  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 32px;

  padding-bottom: 0.5em;
  
}

.similar_icon {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  margin-bottom: 1em;
}

.profile_list {
  list-style-type: none;
  padding-left: 0em;
  
  font-weight: 300;
  font-size: 20px;
}

.profile_list_item {
  margin: 0 0 0.5em 0;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

.overview_title {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 0.5em;
}

.about_me_title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #E49C2F;
}

.about_me {
  font-weight: 100;
  font-size: 20px;
}

.chart_title {
  text-align: center;
  font-weight: 700;
  color: #5983c4;
  font-size: 20px;
}

.stats_list {
  list-style-type: none;
  padding-left: 0em;
  padding-top: 2em;
  

  font-weight: 300;
  font-size: 18px;
}

.stats_list_item {
  display: flex;
  
  margin: 0 0 0.5em 0;
}