.studentprofile_container {
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    margin: auto;
    width: 60%; 
    
  }

  .upload_row {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .subtitle {
    width: 100%;
    color: #446598;
  
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 28px;
  
    padding-bottom: 0.5em;
  }
  
  .card {
    border-radius: 8px;
    border: 1px solid #89A3CB;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    padding: 1em;
  }